@media(min-width:1140px){
    .container{
        max-width: 1140px;
    }
}
/* Navigation Menu */
.navbar-brand{
    font-family: 'Montserrat';
    font-weight: 500;
}

.navbar-light .navbar-nav .nav-link .active,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    padding: 10px 20px;
}
ul>li>a{
    text-align: center;
}

/* Home section */
.home{
    background-color: #f0f5f9;
    padding: 150px 0 100px 0;
}

.card-rang1{
    background-color: #fff2e5;
}
.card-rang2{
    background-color: #f8f9fa;
}
.card-rang3{
    background-color: #f0f5f9;
}

.card img{
    width: 80px;
}

/* Features */

.resluts-img{
    width: 80px;
}

/* Reviews section */
.carousel-item img{
    width: 60px;
}

.rasm34{
    width: 60px;
}

.reviews__container{
    padding: 100px 50px;
    background-color: #f0f5f9;
}